{% extends 'base.html.twig' %}

{% block title %}MyBlog!{% endblock %}

{% block head %}<h2>Поделись с нами!</h2>{% endblock %}

{% block body %}

<div class="example-wrapper">

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </div>

    {{ form_end(form) }}

</div>

{% endblock %}