{% extends 'base.html.twig' %}

{% block title %}MyBlog!{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block head %}

    <div class="container-fluid">
        <h1>MyBlog</h1>
        <h2>Поделись с нами!</h2>
    </div>

{%endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Отправить</button>
                <a href="{{ path('homepage') }}">На главную</a>
            </div>
        </div>

        {{ form_end(form) }}
        </div>
    </div>

{% endblock %}